.cont {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


#fon {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a {
    color: #000080; /* Цвет обычной ссылки */
    padding: 2px; /* Поля вокруг текста */
    text-decoration: none;
   }
a:visited {
    color: #272525; /* Цвет посещенной ссылки */
   } 
a:hover {
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #a1a1a1; /* Цвет фона */
   }


#all {
    padding: 8px 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media(min-width: 1400px){
    #all {
        font-size: 60px;
    }
}
@media(min-width: 1200px){
    #all {
        font-size: 40px;
    }
}

@media(min-width: 1900px){
    #all {
        font-size: 75px;
    }
}